@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "LilitaOne";
    src: url("./assets/Fonts/LilitaOne-Regular.ttf");
  }

  html, body {
    margin: 0;
    padding: 0;
  }


  